body{
    height: 100%;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightgray;
}

.card{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #005691;
    color: white;
}

.card span {
    font-weight: 300;
}

.card h1 {
    margin-left: -2px;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

hr{
    height: 1px;
    background-color: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: none;
}

.card-footer{
    background-color: #004A7C;
}

.card-footer a{
    color: white;
    padding: 5%;
}

.container {
    width: 60%;
}

.presentacao  > .container {
    margin-top: 20%;
} 

.descricao {
    padding: 2%;
}

.table td{
    border: none !important;
}

.spacing{
    line-height: 0.1;
    display: block;
    margin-bottom: 2%;
}

.btn-info {
    background-color: #005691;
    border-color: #005691;
}

.btn-info:hover{
    background-color: #004A7C;
    border-color: #004A7C;
}

.page-container{
    position: relative;
}

footer{
    position: inherit;
    bottom: 0;
    width: 100%;
    background-color: #004A7C;
    color: white;
}

/* Media queries */

@media screen and (max-width:720px) {
    .container {
        width: 100%!important;
    }
    .table td {
        display: block;
    } 

    .table td.bold {
        font-weight: 600;
    }

    .card {
        text-align: center;
    }

    .card h1{
        margin-top:15px;
    }
}